{
  "api_socket": "{{ xinas_api_socket }}",
  "agent_socket": "{{ xinas_agent_socket }}",
  "controller_id_path": "{{ xinas_agent_controller_id_path }}",
  "agent_token_path": "{{ xinas_agent_token_path }}",
  "heartbeat_interval_ms": {{ xinas_agent_heartbeat_interval_ms }}
}
