---
- name: Download xiraid-exporter .deb package
  ansible.builtin.get_url:
    url: "{{ xiraid_exporter_download_url }}"
    dest: "/tmp/xiraid-exporter_{{ xiraid_exporter_version }}.deb"
    mode: '0644'
    force: no
  tags: [xiraid_exporter, download]

- name: Install xiraid-exporter package
  ansible.builtin.apt:
    deb: "/tmp/xiraid-exporter_{{ xiraid_exporter_version }}.deb"
    state: present
  tags: [xiraid_exporter, install]

- name: Enable and start xiraid-exporter service
  ansible.builtin.service:
    name: xiraid-exporter
    enabled: true
    state: started
  tags: [xiraid_exporter, service]
