{
  "controller_id": "",
  "nfs_helper_socket": "{{ xinas_mcp_nfs_socket }}",
  "prometheus_url": "{{ xinas_mcp_prometheus_url }}",
  "audit_log_path": "{{ xinas_mcp_audit_log_path }}",
  "tokens": {},
  "sse_enabled": {{ xinas_mcp_sse_enabled | lower }},
  "sse_port": {{ xinas_mcp_sse_port }}
}
